In [1]:
%matplotlib inline

import csv
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

plt.style.use('fivethirtyeight')
plt.rc('figure', figsize=(5.0, 2.0))

In [2]:
heroes = pd.read_csv('../data/heroes.csv', sep=';', index_col=0)
heroes \
    .head()

,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
Name,,,,,,,,,,,
A-Bomb,Richard Milhouse Jones,"Scarsdale, Arizona",Marvel Comics,203.21,441.95,M,2008.0,Yellow,No Hair,100.0,moderate
Abraxas,Abraxas,Within Eternity,Marvel Comics,NaN,NaN,M,NaN,Blue,Black,100.0,high
Abomination,Emil Blonsky,"Zagreb, Yugoslavia",Marvel Comics,203.04,441.98,M,NaN,Green,No Hair,80.0,good
Adam Monroe,NaN,NaN,NBC - Heroes,NaN,NaN,M,NaN,Blue,Blond,10.0,good
Agent 13,Sharon Carter,NaN,Marvel Comics,173.41,61.03,F,NaN,Blue,Blond,NaN,NaN

In [3]:
heroes['Gender'] \
    .head()

Name
A-Bomb         M
Abraxas        M
Abomination    M
Adam Monroe    M
Agent 13       F
Name: Gender, dtype: object

In [4]:
heroes.loc['Agent 13':'Air-Walker']

,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
Name,,,,,,,,,,,
Agent 13,Sharon Carter,NaN,Marvel Comics,173.41,61.03,F,NaN,Blue,Blond,NaN,NaN
Air-Walker,Gabriel Lan,"Xandar, a planet in the Tranta system, Androme...",Marvel Comics,188.59,108.23,M,NaN,Blue,White,85.0,average

In [5]:
heroes.iloc[42:44]

,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
Name,,,,,,,,,,,
Warbird,Carol Danvers,"Boston, Massachusetts",Marvel Comics,180.56,54.75,F,NaN,Blue,Blond,NaN,NaN
Wildfire,Drake Burroughs,NaN,DC Comics,NaN,NaN,M,NaN,NaN,NaN,35.0,average

In [6]:
heroes.loc['Professor X', ['Height', 'Weight']]

Height    183.74
Weight     86.89
Name: Professor X, dtype: object

In [7]:
heroes.iloc[[106, 103], [3, 4]]

           Height  Weight
Name
Tempest    163.02   54.36
Supergirl  165.40   54.80

In [8]:
heroes.sort_values(by='Weight', ascending=False) \
    .head()

,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
Name,,,,,,,,,,,
Sasquatch,Walter Langkowski,"Edmonton, Alberta, Canada",Marvel Comics,305.02,900.70,M,NaN,Red,Orange,80.0,good
Juggernaut,Cain Marko,"Berkeley, California",Marvel Comics,287.95,855.82,M,1965.0,Blue,Red,100.0,average
Darkseid,Uxas,NaN,DC Comics,267.37,817.57,M,1970.0,Red,No Hair,100.0,high
Hulk,Bruce Banner,"Dayton, Ohio",Marvel Comics,244.40,630.90,M,1962.0,Green,Green,100.0,high
Giganta,Doris Zuel,NaN,DC Comics,62.65,630.80,F,1944.0,Green,Red,90.0,high

In [9]:
heroes.sort_index()[-5:]

,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
Name,,,,,,,,,,,
Yellowjacket II,Rita DeMara,NaN,Marvel Comics,165.58,52.36,F,NaN,Blue,Strawberry Blond,10.0,average
Ymir,Ymir,Niffleheim,Marvel Comics,304.63,NaN,M,NaN,White,No Hair,100.0,average
Yoda,Yoda,NaN,George Lucas,66.29,17.01,M,1980.0,Brown,White,55.0,high
Zatanna,Zatanna Zatara,NaN,DC Comics,170.29,57.77,F,NaN,Blue,Black,10.0,high
Zoom,Hunter Zolomon,NaN,DC Comics,185.90,81.93,M,NaN,Red,Brown,10.0,average

In [10]:
heroes.loc[['Rogue', 'A-Bomb']]

,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
Name,,,,,,,,,,,
Rogue,Anna Marie,"Caldecott County, Mississippi",Marvel Comics,173.48,54.43,F,1981.0,Green,Brown / White,10.0,good
A-Bomb,Richard Milhouse Jones,"Scarsdale, Arizona",Marvel Comics,203.21,441.95,M,2008.0,Yellow,No Hair,100.0,moderate